@model SPU123_Shop_MVC.Entities.Product;

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link bg-dark active" asp-action="Index">Back</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Category.Name</p>
        <p>Price: <span class="badge bg-primary">@Model.Price$</span></p>
        <p>Discount: <span class="badge bg-secondary">@Model.Discout%</span></p>
        <h4>Description</h4>
        <p>@Model.Description</p>
        <a href="#" class="btn btn-success">Buy</a>
    </div>
</div>