@model List<Data.Entities.Product>

<h1 class="text-center"></h1>

<div class="card text-center">
    <div class="card-header">
        My Cart
    </div>
    <div class="card-body">
        <h5 class="card-title">Product List</h5>
        @if(!Model.Any())
        {
            <p>Looks like your cart is empty!</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (var p in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div>ID: @p.Id - <span class="fw-bold">@p.Name</span></div>
                        </div>
                        <span class="badge bg-primary">@p.Price$</span>
                    </li>
                }
            </ul>
        }
        <a href="#" class="btn btn-success mt-3">Checkout</a>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <div>Count: <span class="badge bg-secondary">@Model.Count</span></div>
        <div>Total: <span class="badge bg-secondary">@Model.Sum(x => x.Price)$</span></div>
    </div>
</div>